*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
html{
	 box-sizing: border-box; 
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
}
body{
	font-family: arial, "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1";
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
/************************************************************************/
#top-bar{
	height: 36px;
	line-height: 36px;
	background: #f5f5f5;
}
#top-bar .container{
	margin: 0 auto;
	width: 1240px;
}
#top-bar .login{
	float: right;
}
#top-bar a{
	font-size: 14px;
	color: #999;
}
#top-bar a:hover{
	color: #23ac38;
}
#top-bar a:first-child{
	margin-right: 20px;
}
#top-bar .login a:first-child{
	margin-right: 20px;
}
#top-bar .selected{
	color: #23ac38;
}
#go-top{
	width: 43px;
	height: 90px;
	position: fixed;
	right: 0;
	top: 50%;
}
#go-top a{
	display: inline-block;
	width: 34px;
	height: 40px;
	padding: 2px 0 0 10px;
	background: #fafafa;
	border: 1px solid #e8e8e8;
	margin-bottom: 5px;
	font-size: 12px;
	color: #666;
}
#go-top a:hover{
	color: #fff;
	background: #23ac38;
}
/************************************************************************/
header{
	width: 1240px;
	height: 120px;
	margin: 0 auto;
	position: relative;
}
.logo{
	float: left;
}
header img{
	width: 180px;
	height: 64px;
	vertical-align: middle;
	margin-top: 28px;
}
.search{
	width: 306px;
	height: 40px;
	line-height: 40px;
	border: 2px solid #23ac38;
	position: absolute;
	top: 20px;
	right: 0px;
	margin-top: 15px;
}
.search input{
	width: 196px;
	height: 28px;
	border: none;
	margin-left: 5px;
	outline: none;
	font-family: arial, "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1";
	font-size: 14px;
	color: #333;
	background: url('http://p5.qhmsg.com/t0139a3cf9218887d3d.png') no-repeat 170px;
}
.search button{
	float: right;
	width: 96px;
	height: 42px;
	border: none;
	background: #23ac38;
	color: #fff;
	font-size: 14px;
	font-family: "微软雅黑";
	cursor: pointer;
}
.search button:hover{
	background: #33bc48;
}
nav{
	float: left;
	margin: 0 20px 0;
}
nav a{
	display: inline-block;
	font-size: 17px;
	margin: 45px 12px 0;
	height: 60px;
	text-align: center;
	color: #333;
}
nav a:hover{
	color: #23ac39;
	cursor: pointer;
}
/******************************************************/
#focus-block{
	width: 1240px;
	height: 562px;
	margin: 0 auto;
}
.view-container{
	width: 858px;
	height: 398px;
	overflow: hidden;
	position: relative;
	float: left;
}
.arrow{
	width: 40px;
	height: 64px;
	position: absolute;
	cursor: pointer;
}
.prev{
	left: 40px;
	top: 167px;
	background-position: 0 0;
    background-image: url(http://p3.qhmsg.com/t018e1bdf2122a4b64b.png);	
    background-repeat: no-repeat;
}
.prev:hover{
	background-position: -45px 0;
    background-image: url(http://p3.qhmsg.com/t018e1bdf2122a4b64b.png);	
    background-repeat: no-repeat;
}
.next{
	right: 0px;
	top: 167px;
	background-position: 0 -75px;
    background-image: url(http://p3.qhmsg.com/t018e1bdf2122a4b64b.png);	
    background-repeat: no-repeat;
}
.next:hover{
	background-position: -45px -75px;
    background-image: url(http://p3.qhmsg.com/t018e1bdf2122a4b64b.png);	
    background-repeat: no-repeat;
}
.part_soft,.part_hard{
	width: 100%;
	height: 100%;
	position: relative;
}
.view-item{
	position: absolute;
	left: 0;
	top: 0;
}
.soft-hard-nav{
	width: 40px;
	height: 400px;
	position: absolute;
	left: 0;
	top: 0;
	background: #eee;
}
.soft-hard-nav .selected{
	background: #aaa;
}
.nav-index{
	position: absolute;
	right: 300px;
	bottom: 20px;
}
.nav-index .selected{
	background: #23ac38;
}
.nav-index li{
	float: left;
	width: 12px;
	height: 12px;
	background: #aaa;
	border-radius: 50%;
	margin-left: 20px;
	cursor: pointer;
}

.nav-index li:hover{
	background: #23ac38;
}
.soft-hard-nav span{
	display: inline-block;
	width: 26px;
	margin-top: 60px;
}
.soft-ware,.hard-ware{
	display: inline-block;
	width: 40px;
	height: 200px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.soft-ware:hover{
	background: #aaa;
}
.hard-ware:hover{
	background: #aaa;
}
.news-block{
	float: right;
	width: 320px;
	height: 311px;
	padding: 0 30px;
	border: 1px solid #e5e5e5;
}
.news-header{
	display: inline-block;
	width: 322px;
	line-height: 60px;
}
.news-header h2{
	float: left;
	font-size: 20px;
	font-weight: normal;
	color: #23ac38;
}
.news-content a{
	font-size: 14px;
	color: #333;
} 
.news-content p{
	font-size: 12px;
	color: #999;
}
.news-content img{
	float: left;
	margin-right: 10px;
}
.news-list li{
	padding: 10px 0 5px 10px;
	background-image: url(http://p3.qhmsg.com/t018e1bdf2122a4b64b.png);
    background-repeat: no-repeat;
    background-position: -150px -356px;
}
.news-list a{	
	font-size: 14px;
	color: #333;
}
.news-list a:hover{
	color: #23ac38;
}
.fast-download{
	float: right;
	width: 350px;
	height: 250px;	
	padding-left: 30px;
	border: 1px solid #e5e5e5;
	border-top: none;
}
.download-list img{	
	vertical-align: middle;
	margin-right: 10px;
}
.download-list a{
	color: #333;
	font-size: 14px;
}
.download-list li{
	float: left;
	width: 49.9%;
	height: 44px;
}
.more{
	float: right;
	font-size: 12px;
	color: #999;
}
.slide{
	float: left;
	width: 857px;
	height: 130px;
	overflow: hidden;	
	border: 1px solid #e5e5e5;    
	border-right: transparent;
	padding-top: 35px;
}
.slide div{
	float: left;	
	width: 275px;
	height: 124px;
	padding-left: 10px;
	margin-bottom: 10px;
}
.slide img{
	float: left;
}
.slide a{
	line-height: 50px;
	color: #333;
}
.slide p{
	font-size: 12px;
	color: #999;
	line-height: 20px;
}
/******************************************************/
#soft-mall{
	margin: 0 auto;
	width: 1240px;
	height: 900px;
	padding-top: 35px;
}
.soft-block,.mall-block{
	width: 610px;
	height: 890px;
}
.soft-list{
	display: inline-block;
	border: 1px solid #e5e5e5;
}
.soft-list li{
	float: left;
	width: 243px;
	height: 81px;
	padding: 30px;
}
.soft-list li:last-child{
	border-left: 1px solid #e5e5e5;
}
.soft-list li img{
	float: left;
}
.soft-block{
	float: left;
	margin-right: 10px;
}
.soft-block h2 a,.mall-block h2 a{
	color: #23ac38;
	font-size: 20px;
}
.soft-block h2{
	margin-bottom: 20px;
}
.mall-block h2{
	margin-bottom: 20px;
}
.mall-banner{
	height: 283px;
	border: 1px solid #e5e5e5;
	border-bottom: transparent;
	overflow: hidden;
}
.mall-banner ul{
	width: 1830px;
}
.mall-banner li{
	float: left;
}
.part-right{
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.part-bottom{
	border-bottom: 1px solid #e5e5e5;
}
.part-left{
	border-left: 1px solid #e5e5e5;
}
.soft-item h3{
	margin-left: 78px;	
}
.soft-item h3 a{
	color: #333;
	font-size: 18px;
}
.soft-item p{
	font-size: 12px;
	color: #999;
	line-height: 30px;
	margin-left: 78px;
}
.mall-block{
	float: right;
}
#mall-list{
	width: 608px;
	height: 283px;
	border: 1px solid #e5e5e5;
}
.mall-item{
	float: left;
	width: 262px;
	height: 120px;
	padding: 10px 10px 10px 30px;
}
.mall-item h3 a{
	font-size: 18px;
	line-height: 3;
	padding-top: 20px;
	color: #333;
}
.mall-item p{
	font-size: 14px;
	color: #666;
}
.mall-pic{
	float: right;
}
.operate{
	margin-left: 85px;
}
.operate a{
	display: inline-block;
	width: 68px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	color: #333;
	border: 1px solid #e5e5e5;
	margin: 10px 5px 0 0;
} 
.operate a:hover{ 
	background: #eee;
}
.cate-list{
	border: #e5e5e5 1px solid;
	border-top: transparent;
	padding: 25px 0;
}
.cate-item{
	width: 471px;
	height: 60px;
	padding-left: 110px;
}
.cate-item dd{
	float: left;
	padding: 5px 8px;
}
.cate-item a{
	font-size: 14px;
	color: #333;
}
.cate-item a:hover{
	color: #23ac38;
}
.cate-pc{
	background-position: -95px 0;
    background-image: url(http://p3.qhmsg.com/t018e1bdf2122a4b64b.png);	
    background-repeat: no-repeat;	
    margin-bottom: 24px;
}
.cate-mobile{
	background-position: -95px -60px;
    background-image: url(http://p3.qhmsg.com/t018e1bdf2122a4b64b.png);	
    background-repeat: no-repeat;		
    margin-bottom: 24px;
}
.cate-open{
	background-position: -95px -120px;
    background-image: url(http://p3.qhmsg.com/t018e1bdf2122a4b64b.png);	
    background-repeat: no-repeat;	
}
/**************************************************/
#banner-ad{
	width: 1240px;
	margin: 40px auto;
}
.related-block{
	width: 1240px;
	margin: 0 auto;
}
.container{
	margin-left: -40px;
	height: 450px;
}
.related-item{
	float: left;
	width: 280px;
	height: 265px;
	margin-left: 40px;
}
.related-title{
	display: inline-block;
	width: 100%;
	line-height: 20px;
	margin-bottom: 20px;
}
.related-item h2{
	float: left;
	color: #23ac38;
	font-size: 20px;
}
.related-item p{
	font-size: 14px;
	color: #333;
	padding: 9px;
	background: #f6f6f6;
	margin-bottom: 10px;
}
.related-item img{
    vertical-align: middle;
}
.related-item li{
	font-size: 14px;
	height: 34px;
	line-height: 34px;
	text-indent: 15px;
	cursor: pointer;
	background: url(http://p3.qhmsg.com/t018e1bdf2122a4b64b.png) no-repeat -150px -359px;
}
/*********************************************/
.bottom-nav{
	width: 100%;
	height: 210px;
	padding: 40px 0 50px;
	background: #f6f6f6;
}
.bottom-container{
	width: 1240px;
	margin: 0 auto;
	position: relative;
}
.cate-nav{
	margin-left: -30px;
}
.cate-nav dl{
	float: left;
	width: 200px;
	height: 158px;
	border-right: 1px #e5e5e5 solid;
	padding-left: 30px;
}
.cate-nav dl:last-child{
	border-right: transparent;
}
.cate-nav dt{
	font-size: 18px;
	line-height: 1;
	margin-bottom: 10px;
}
.cate-nav dd{
	height: 28px;
}
.cate-nav dd a{
	font-size: 14px;
	color: #666;
}
.follow-us{
	width: 270px;
	height: 188px;
	position: absolute;
	top: 0;
	right: 0;
}
.follow-list{
	margin-left: -30px;
}
.follow-title{
	height: 40px;
}
.follow-title h3{
	float: left;
	font-size: 18px;
	font-weight: bold;
}
.follow-title a{
	float: right;
	text-indent: 30px;
	font-size: 14px;
	line-height: 20px;
	color: #666;    
	background: url(http://p3.qhmsg.com/t018e1bdf2122a4b64b.png) -150px -484px no-repeat;
}
.follow-item{
	float: left;
	padding-left: 30px;
}
.follow-item p{
	text-align: center;
	font-size: 12px;
	color: #999;
}
/*******************************************************/
.footer{
	text-align: center;
	padding: 40px 0;
}
.footer p{
	font-size: 12px;
	line-height: 2;
	color: #999;
}
.footer img{
	vertical-align: middle;
}